:root {
    --bg-primary: #141922;
    --bg-secondary: #000000;
    --bg-footer: #282828;
    --text-primary: #717171;
    --text-lighter: #7D7F84;
    --text-selection: #ADFF2F;
    --text-hoover: #FBFBFB;
    --text-secondary: #FFFFFF;

}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */

.flx{
    display: flex;
}


/* #region Main */

.sidebar{
    width:230px;
    height: calc(100vh - 90px);
    background-color: var(--bg-secondary);
}

.display{
    width: calc(100% - 230px);
    background-color: var(--bg-primary);
    height: calc(100vh - 90px);
}

/* #endregion Main */

/* #region Footer */

.btm-bar{
    background-color: var(--bg-footer);
    height: 90px;
    position: fixed;
    width: 100%;
}



/* #endregion Footer */