:root {
    --bg-primary: #141922;
    --bg-secondary: #000000;
    --bg-footer: #282828;
    --text-primary: #717171;
    --text-lighter: #7D7F84;
    --text-selection: #ADFF2F;
    --text-hoover: #FBFBFB;
    --text-secondary: #FFFFFF;

}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* Utility */
.title{
    color: var(--text-secondary);
}

.sub-title{
    color: var(--text-primary);
}


/* #region Main */
.container-main {
    display: flex;
}

.sidebar {
    width: 230px;
    height: calc(100vh - 90px);
    background-color: var(--bg-secondary);
}

.display {
    width: calc(100% - 230px);
    background-color: var(--bg-primary);
    height: calc(100vh - 90px);
}

/* #endregion Main */

/* #region Footer */

.btm-bar {
    display: flex;
    background-color: var(--bg-footer);
    height: 90px;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.col-left,
.col-right{
    display: flex;
    width: 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cl-center{
padding: 5px;
}

.cl-left > img{
    width: 50px;
    height: auto;
}

.col-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
}

.controls,
.time-bar{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0.3rem;
}

.controls > i {
    margin: 0 3%;
}

.slider-song{
    width: 60%;
}


/* #endregion Footer */