:root {
    --bg-primary: #141922;
    --bg-secondary: #000000;
    --bg-footer: #282828;
    --text-primary: #717171;
    --text-lighter: #7D7F84;
    --text-selection: #ADFF2F;
    --text-hoover: #FBFBFB;
    --text-secondary: #FFFFFF;

}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* Utility */
.title{
    color: var(--text-secondary);
}

.sub-title{
    color: var(--text-primary);
}

.slider{
    height: 5px;
}


/* #region Main */

.container-main {
    display: flex;
}

.sidebar {
    width: 230px;
    height: calc(100vh - 90px);
    background-color: var(--bg-secondary);
}

/* Display */

.display {
    width: calc(100% - 230px);
    background-color: var(--bg-primary);
    height: calc(100vh - 90px);
    max-height: 100vh;
}

.header-display{
    height: 90px;
    background-color: var(--bg-secondary);
    opacity: 50%;
}

.square {
    background-color:#ADFF2F;
    width: 200px;
    height: 200px;
    margin: 1rem;
}

.container-display{
    display: flex;
    flex-wrap: wrap;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
}
/* #endregion Main */

/* #region Footer */

.btm-bar {
    display: flex;
    background-color: var(--bg-footer);
    height: 90px;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.col-left,
.col-right{
    display: flex;
    width: 200px;
    flex-direction: row;
    align-items: center;
}

.col-right{
    justify-content: flex-end;
}

.cl-left > img{
    width: 50px;
    height: auto;
}

.col-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
}

.controls,
.time-bar{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0.3rem;
}
.col-left > div,
.controls > i,
.col-right > i {
    margin: 0 2%;
}

.song-slider{
    width: 60%;
}

.volume-slider{
    width: 60%;
}


/* #endregion Footer */